
/***************************************REGOLE GENERALI***************/
ul, ol, menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  width: 100%;
}

:root {
  --blue:#2C3E50;
  --green:#1ABC9C;
  --light-red:#BA4B63;
  --azure:#1EA4B6;
  --light-black:#140F0F;
  --sea:#1C83C1;
  --dark-blue:#0E38B5;
  --light-brown:#CCB2A3;
  --light-blue:#3A546D;
}
/*******************************HEADER***********************************/

header {
  background-color: var(--blue);
  padding: 16px 0;
}

header .header-title {
  font-size: 24px;
}

header .col-auto .icon {
  color:#5F676F;
}

/*******************************************HERO********************************/

.hero {
  background-color: var(--green);
}

.hero .hero-card figure {
  max-width: 250px;
}

.hero .card-description {
  font-size: 20px;
}

/**********************************************ABOUT****************************/

.about {
  background-color: #1ABC9C;
}

/******************************************CONTACT******************************/

.contact form :is(input, textarea) {
  border: none;
}

.contact .button a {
  background-color: #1ABC9C;
}